In [ ]:
 dir(str)

In [5]:
class Rasheed:
  name = 'coco'
  age = 23
  your = input('my name is : ')
# main code
bobb = Rasheed()
print(Rasheed.name)
print(Rasheed.age)
print(Rasheed.your)

my name is : rasheed
coco
23
rasheed

In [11]:
class Rasheed1:
  name = "Bob"
  def greet(self):
    print(f'Hello, my name is {self.name}')
# main code
bob22 = Rasheed1()
bob22.greet()

Hello, my name is Bob

In [25]:
class Rasheed22:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def greet(self):
    print(f'my name is : {self.name}, my age is : {self.age}')
# main code
cocoo = Rasheed22('rasheed',23)
cocoo.greet()

my name is : rasheed, my age is : 23

In [ ]:
class Person:
  def __init__(self, name):
    self.name = name
  def greett(self):
    print(f"My name is : {self.name}")
class Employee(Person):
  def __init__(self, name , age , employee_id):
    super().__init__(name,age)
    self.employee_id = employee_id
  def work(self):
    print(f"My work is : ")
# main code
work11 = Person('rasheed', 23 ,"2123123123132")
print(work11)